@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url(../../public/font/FONTSFREE-NET-ITCAVANTGARDESTDMD.TTF);
}

.border-b-transition::after {
  display: none;
  content: "";

  display: flex;
  border-bottom: 3px solid #fff;
  width: 0;
  transition: 0.2s;
}

.border-b-transition::after:hover {
  width: 100%;
  border-bottom: 3px solid #fff;
}

html {
  background-image: url("../assets/background.png");
}

body {
  font-family: 'ITC Avant Garde Gothic Std';
}